@import url('https://fonts.googleapis.com//css2?family=roboto&display=swap');
body{
    background: hsl(0, 0%, 0%);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: #C7C7C7;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    padding: 5px;
    gap: 20px;

}
.name{
    font-size: 32px;
    font-weight: 20px;
    line-height: 24px;
    letter-spacing: 1%;
}
.nav-links li{
    font-family: "inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -3%
}
.hero{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}.hero-text h2{
    font-size: 60px;
    font-weight: 400;
    line-height: 90%;
    color: #FFFFFF;
    margin-bottom: 0;
}
.hero-text p{
    font-family: "manrope", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 5;
    margin-top: 8px;
}
/*.hero-text button{
display; flex;
align-items; center
gap: 12px;
width: 187
height: 54px
padding-top: 20px;
padding-bottom: 20px
padding-left:20px
padding-right:6px
}*/








.hero-text button{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 187px;
    height: 54px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 6px;
    border-radius: 100px;
    background-color: #d3e97a;
    color: black;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
}
.boxmodel{
    padding: 100px;
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    margin: 100px;
    color:black 
}
.box{
    width:100px;
    height: 100px;
    background: #d3e97a;
    padding: 50px;
    margin:50px;

}


    
    









